$bg: #000000;
$fg: lighten($bg, 20%);
$borderWidth: 3px;

.input {
  position: absolute;
  visibility: hidden;
  display: none;
}

.label {
  color: lighten($bg, 40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 0.375rem 1.25rem;
}

.input:checked + .label {
  color: lighten($bg, 60%);
  background: $fg;
}

.label + .input + .label {
  border-left: solid $borderWidth $fg;
}
.radioGroup {
  border: solid $borderWidth $fg;
  display: inline-block;
  border-radius: 0.5rem;
  overflow: hidden;

  @media (max-width: 768px) {
    .label {
      padding: 0.2rem 0.3rem;
      font-size: 0.8rem;
    }
  }
}
