.main {
  height: 10rem;
  border-radius: 0.4rem;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 2.5rem;
  display: flex;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    width: 30%;
    opacity: 0.2;
    top: 20%;
    left: 35%;
  }
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;

  a {
    display: inline-block;
    width: fit-content;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #5e5e5e;
    }
  }
}

.LangSwitch {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
