.inputDiv {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  background-color: rgb(116, 116, 116);
  color: #fff;
}

.label {
  font-size: 0.75rem;
  font-weight: 400;
  color: inherit;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  min-width: 90px;
  max-width: 90px;
  border: rgb(26, 26, 26) solid;
  border-width: 0 1px 0 0;
  margin-right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  height: 2rem;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  color: inherit;
  font-family: 'Asap';
  font-size: 1rem;
  display: inline-block;
  border-width: 0;
  outline: none;
}

.active {
  background-color: rgb(206, 206, 206);
  color: rgb(66, 66, 66);
}
