@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

:root {
  --primary: #222629;
  --secondary: #474b4f;
  --tertiary: #6b6e70;

  --text: #86c232;
  --textShadow: #61892f;

  font-family: "Oswald", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--primary);
}

body {
  color: var(--text);
  font-size: 1.6rem;
  background-color: var(--primary);
}

/**********************************/
/*    ***      HEADER     ***     */
/**********************************/

.header-div {
  background-color: var(--secondary);
}

.header-navlink-div {
  margin: 0 auto;
  width: 20%;
  text-align: center;
  padding: 0.5rem 0;
}

.header-navlink {
  color: var(--text);
  margin: 0 1rem;
  font-size: 2rem;

  text-decoration-color: transparent;
  transition: 100ms;
}

.header-navlink:hover {
  text-decoration-color: var(--textShadow);
  color: var(--textShadow);
}

.header-navlink.active {
  text-decoration-color: var(--text);
}

.header-navlink.active:hover {
  text-decoration-color: var(--text);
  color: var(--text);
  cursor: default;
}

/**********************************/
/*    ***       HERO      ***     */
/**********************************/

.hero-div {
  display: flex;
  justify-content: space-around;
  height: 95vh;
}

.hero-img-div {
  width: 25%;
  height: 50rem;
  margin: auto 0;
}

.hero-img {
  width: 100%;
  height: 100%;
  border-radius: 15rem;
  cursor: pointer;
}

.headline-div {
  margin: auto 0;
  margin-right: 10%;
  text-shadow: 5px 5px 0 var(--tertiary);
  cursor: default;
}

.headline-div > h1 {
  font-size: 15rem;
  text-transform: uppercase;
}

.headline-div > h2 {
  margin-top: -6rem;
  margin-left: 0.5rem;
  text-transform: uppercase;

  font-size: 8rem;
}

/**********************************/
/*    ***      ABOUT      ***     */
/**********************************/

.aboutMe-div {
  width: 65%;
  margin: 0 auto;
}

.aboutMe-location-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
}

.aboutMe-location-div > p {
  width: 60%;
}

.aboutMe-location-div > p > a {
  color: var(--text);
}

.aboutMe-location-div > p > a:hover {
  color: var(--textShadow);
}

.aboutMe-div > h1 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem 0;
}

.aboutMe-div > p {
  font-size: 2rem;
  width: 75%;
}

.aboutMe-left {
  text-align: left;
}

.aboutMe-right {
  text-align: right;
  margin: 5rem 0;
  margin-bottom: 10rem;
  margin-left: auto;
}

/**********************************/
/*    ***    PROJECTS     ***     */
/**********************************/

/**********************************/
/*    ***     RESUME      ***     */
/**********************************/

.resume-div {
  width: 40%;
  margin: 3rem auto;
}

.resume-div > h2 {
  margin-top: 3rem;
  font-size: 3rem;
  text-shadow: 3px 3px 0 var(--secondary);
}

.resume-div > h1 {
  text-align: center;
  font-size: 5rem;
  text-shadow: 3px 3px 0 var(--secondary);
  margin-bottom: 2rem;
}

.resume-div > p {
  margin: 0.5rem 0;
  letter-spacing: 0.05rem;
}

.resume-div > p > a {
  color: var(--text);
  transition: 100ms;
}

.resume-div > p > a:hover {
  color: var(--textShadow);
}

.resume-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 65%;
  margin: auto;
}

.resume-skills > h3 {
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.resume-skills > p {
  margin: 0 0.5rem;
}

.resume-end {
  margin-top: 10rem !important;
  font-size: 3rem;
}
