.mainDiv {
  padding: 5rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
    gap: 2rem;
  }
}

.footer {
  padding: 0 5rem;

  @media screen and (max-width: 768px) {
    padding: 1rem 1rem;
  }
}
