.main {
  height: 45rem;
  border-radius: 0.4rem;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 5rem;

  display: flex;
  gap: 5rem;

  position: relative;

  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 100%;
    padding: 2rem;
  }
}

.profilePicture {
  width: 30rem;
  height: 75%;
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  left: -1rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.rightDiv {
  margin-left: 30rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.location {
  height: 20.625rem;

  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 30rem;
    gap: 2rem;
  }

  .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

    padding-right: 2rem;
    padding-top: 3rem;

    h3 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-right: 0;
    }
  }

  .map {
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
